@mixin transition($prop) {
  transition: $prop 0.3s ease;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin icon-style($color, $size) {
  color: $color;
  font-size: $size;
}